body {
    background-color: #00A699;

}

.container {
    background-color: white;

}

#titulo1 {

}

#nome {

    color: #FF5A5F;
}

#menu {

}

#foto-logo {

    width: 20%;
}

#destaques {
    padding: 10 px;
    margin: 20 px;


}

#bookings {
    
}

#text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin= 20px;
}


